.chat-list-container {
    padding-right: 8px;
    padding-top: 8px;
}

.conversation-container {
    padding-left: 8px;
    padding-top: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}