@page "/"
@page "/chat/{Id}"
@rendermode @(new InteractiveWebAssemblyRenderMode(false))
@using DevChat.Client.Components
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Chat</PageTitle>

<FluentSplitter class="chat-page" Orientation="Orientation.Horizontal" Panel1Size="260px">
    <Panel1>
        <div class="chat-list-container">
            <ChatList Id="@Id"/>
        </div>
    </Panel1>
    <Panel2>
        <div class="conversation-container">
            @if (Id is null)
            {
                <FluentLabel>
                    Select a conversation to get started
                </FluentLabel>
            }
            else
            {
                <Conversation Id="@Id" />
            }
        </div>
    </Panel2>
</FluentSplitter>

@code {
    [Parameter]
    public string? Id { get; set; }
}